# Google APP Credentials (apppasswords)
MAIL_USERNAME=seu_email_real@gmail.com
MAIL_PASSWORD=abcd efgh ijkl mnop
GEMINI_API_KEY=coloque_sua_chave_aqui

# Google OAuth2 Credentials
GOOGLE_CLIENT_ID=seu_client_id_do_google.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=seu_client_secret_do_google
FRONTEND_REDIRECT_URL=http://localhost:3000/oauth2/redirect
