# Database
mysql/

# Docker
.docker/

# Maven / Java
target/
*.jar
*.war
*.ear
.mvn/
mvnw
mvnw.cmd
.env

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# Eclipse
.classpath
.project
.settings/
.springBeans

# VS Code
.vscode/

# Logs and Temp
*.log
temp/
tmp/

# OS Files
.DS_Store
Thumbs.db

# Spring Boot
.sts4-cache/
rest/rest/src/main/java/com/example/rest/dto/auth/AuthResponse.java

# Modelos da IA Local
ollama/

# Script de Limpeza do Postman
requests/clean_postman.py
